@model CoreShoppingAdminPortal.Models.Product
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit Your Details</h2>

<form asp-action="edit" asp-controller="Product">
    <div class="form-group row">
        <input type="hidden" asp-for="ProductId" />
        <br />
        <label for="text" class="col-sm-2 col-form-label" asp-for="ProductName"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="ProductName">
        </div>
        <label for="text" class="col-sm-2 col-form-label" asp-for="ProductQty"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="ProductQty">
        </div>

        <label for="text" class="col-sm-2 col-form-label" asp-for="ProductPrice"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="ProductPrice">
        </div>
        <label for="text" class="col-sm-2 col-form-label" asp-for="ProductImage"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="ProductImage">
        </div>
        <label for="text" class="col-sm-2 col-form-label" asp-for="ProductDescription"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="ProductDescription">
        </div>
        <label for="text" class="col-sm-2 col-form-label" asp-for="ProductCategoryId" asp-items="ViewBag.products1"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="ProductCategoryId">
        </div>
        <label for="text" class="col-sm-2 col-form-label" asp-for="VendorId" asp-items="ViewBag.products1"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="VendorId">
        </div>
    </div>

    <br />

    @using (Html.BeginForm("Edit", "Product", FormMethod.Post))
    {
        <input type="submit" value="Edit" class="btn btn-success" />

        <button class="btn btn-success" asp-controller="Product" asp-action="Index">Back</button>

    }
</form>