
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using Microsoft.AspNetCore.Http;



    <meta name="viewport" content="width=device-width" />
    <title>Home</title>

  @*  <h2>Welcome @Context.Session.GetString("uname")!!</h2>*@
  @*<a asp-action="Logout" asp-controller="Account">Logout</a>*@

